.goals-content {
    padding: 5px 5px 5px 5px;
    background: #fff;
    border-radius: 25px !important;
    height: 80vh;
    margin: 0px auto;
    float: none;
}

.goals {
    margin: 10px;
}

.goals-table-wrapper {

}